
/** MIXIN DE FLEXBOX */

@mixin props-flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

}

/** MIXIN DE BACKGROUND*/

@mixin props-bg ($bg-position, $bg-repeat, $bg-size){
    background-position: $bg-position;
    background-repeat: $bg-repeat;
    background-size: $bg-size;
}